network-security.data
lisp/NUL
.#recentf
forge-database.sqlite
.cask/
elpa/
eln-cache/
.org-id-locations
org-roam.db
projectile.cache
ac-comphist.dat
custom.el
*~
projectile-bookmarks.eld
.mc-lists.el
.last-package-update-day
anaconda-mode/*
bookmarks
server
url/*
transient/*
/loaddefs.el
recentf
.lsp-session*
.cache/
.dap-breakpoints
eshell/*
projects
